body {
    background-color: #111;
    color: #fff;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-slide {
    width: 41vw;
    height: 65vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}